Automation/Logic-Apps/ResetPasswordSessionRevoke-Incident.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "ResetPasswordSessionRevoke-Incident",
            "type": "String"
        },
        "userAssignedIdentityName": {
            "defaultValue": "POCs_MI",
            "type": "String"
        },
        "identityResourceGroup": {
            "type": "String",
            "defaultValue": "GoogleLab",
            "metadata": {
                "description": "Resource group of the existing User Assigned Managed Identity."
            }
        },
        "lawName": {
            "type": "String",
            "defaultValue": "GoogleLab-Workspace",
            "metadata": {
                "description": "Log Analytic Workspace Name of Sentinel"
            }
        },
        "SentinelResourceGroup": {
            "type": "String",
            "defaultValue": "GoogleLab",
            "metadata": {
                "description": "Name of the Sentinel Log Analytics Resource Group."
            }
        },
        "UserGroupObjectId": {
            "defaultValue": "245850f0-5567-4e1d-8d3b-11a34428eebd",
            "type": "String",
            "metadata": {
                "description": "User Group Object Id to add the user as a member."
            }
        }
    },
    "variables": {
        "userAssignedIdentityName": "[parameters('userAssignedIdentityName')]",
        "userAssignedIdentityId": "[resourceId(parameters('identityResourceGroup'), 'Microsoft.ManagedIdentity/userAssignedIdentities', variables('userAssignedIdentityName'))]",
        "azuresentinelConnectionName": "[concat('azuresentinel-', parameters('lawName'))]"	
    },
    "resources": [
        {
             "type": "Microsoft.Logic/workflows",
             "apiVersion": "2017-07-01",
             "name": "[parameters('LogicAppName')]",
             "location": "[resourceGroup().location]",
             "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[variables('userAssignedIdentityId')]": {}
                }
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "group-id": {
                            "defaultValue": "[parameters('UserGroupObjectId')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_Accounts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            }
                        },
                        "Within_Threshold": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                                    "actions": {
                                        "Get_UPN": {
                                            "runAfter": {
                                                "Add_User_to_Group": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@coalesce(items('For_each')?['additionalData']?['UserPrincipalName'],items('For_each')?['additionalData']?['UpnName'])"
                                        },
                                        "Reset_a_password": {
                                            "runAfter": {
                                                "Get_UPN": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Get_UPN')}",
                                                "method": "PATCH",
                                                "body": {
                                                    "passwordProfile": {
                                                        "forceChangePasswordNextSignIn": true,
                                                        "forceChangePasswordNextSignInWithMfa": false,
                                                        "password": "@{substring(item()?['ObjectGuid'], 0, 10)}"
                                                    }
                                                },
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "identity": "[variables('userAssignedIdentityId')]",
                                                    "audience": "https://graph.microsoft.com"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Revoke_sign-in_session": {
                                            "runAfter": {
                                                "Append_to_ActionsTaken": [
                                                    "Succeeded",
                                                    "TimedOut",
                                                    "Skipped",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Get_UPN')}/revokeSignInSessions",
                                                "method": "POST",
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "identity": "[variables('userAssignedIdentityId')]",
                                                    "audience": "https://graph.microsoft.com"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Append_to_ActionsTaken": {
                                            "runAfter": {
                                                "Reset_a_password": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "ActionsTaken",
                                                "value": "User @{outputs('Get_UPN')} password has been successfully reset."
                                            }
                                        },
                                        "Append_to_ActionsTaken2": {
                                            "runAfter": {
                                                "Revoke_sign-in_session": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "ActionsTaken",
                                                "value": "User @{outputs('Get_UPN')} active sign-in sessions have been revoked"
                                            }
                                        },
                                        "Add_User_to_Group": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://graph.microsoft.com/v1.0/groups/@{parameters('group-id')}/members/$ref",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-type": "application/json"
                                                },
                                                "body": {
                                                    "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{items('For_each')?['additionalData']?['aadUserId']}"
                                                },
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "identity": "[variables('userAssignedIdentityId')]",
                                                    "audience": "https://graph.microsoft.com"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "type": "Foreach"
                                },
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\" style=\"font-size: 12px;\">Actions Taken:</strong></b></p><br><p class=\"editor-paragraph\">@{join(variables('ActionsTaken'), '\n- ')}</p>"
                                        },
                                        "path": "/Incidents/Comment"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entity_Count": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "lessOrEquals": [
                                            "@outputs('Entity_Count')",
                                            "@variables('Threshold')"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Entity_Count": {
                            "runAfter": {
                                "Initialize_ActionsTaken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@length(body('Entities_-_Get_Accounts')?['Accounts'])"
                        },
                        "Initialize_ActionsTaken": {
                            "runAfter": {
                                "Threshold": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ActionsTaken",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Threshold": {
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Threshold",
                                        "type": "integer",
                                        "value": 10
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                                "connectionId": "[resourceId(parameters('SentinelResourceGroup'), 'Microsoft.Web/connections', variables('azuresentinelConnectionName'))]",
                                "connectionName": "[variables('azuresentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "[variables('userAssignedIdentityId')]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuresentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('azuresentinelConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                },
			    "parameterValueSet": {
			        "name": "managedIdentityAuth",
			        "values": {}
			    }
            }
        }
    ],
    "outputs": {
        "logicAppId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
        }
    }
}
